#pageHeader {
  display: flex;
  justify-content: space-between;
  height: 55px;
  color:#21639f;
}

div div #firme {
  margin: auto;
  min-width: 10em;
  padding-left: 0.6em;
  color: #0a4263;
  font-size: 1.6em;
}

.flag {
  width: 30px;
  height: 20px;
  margin: 1.2em 12px 0px 0px;
}

/* --- Media queries for tablets --- */
@media screen and (min-width: 480px) {
  #entete h3 {
    padding-top: 0.7em;
  }
}

/* --- Media queries for desktop --- */
@media screen and (min-width: 768px) {
  #entete h3 {
    padding-top: 0.6em;
  }
}
